certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
gTTS==2.5.2
idna==3.7
PyAudio==0.2.14
pygame==2.6.0
requests==2.32.3
setuptools==71.1.0
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.2
